.main-content {
    display: flex;
    justify-content: stretch;
    height: calc(100% - 3rem);
    padding-top: 1rem;
}

.main-content .inner {
    background: rgba(255,255,255,0.1);
    border-radius: 2rem 0 0 0;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    display: flex;
    justify-content: stretch;
}

.domains {
    width: 16rem;
    position: relative;
}

::-webkit-scrollbar-track {
    background-color: #2a3542;
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 0.325rem;
    background-color: #2a3542;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #60c3b0;
    border-radius: 1rem;
}

.domains .heading {
    text-align: right;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    letter-spacing: 1px;
    font-weight: 300;
    opacity: 0.7;
}

.domains > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 126px);

    li {
        position: relative;
    }

    li a {
        padding: 0.75rem 1.25rem;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    li a:hover {
        background: rgba(255,255,255,0.1);
    }

    li:not(:first-child):before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.2);
    }
}

.domains .btn-group {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.domains .import {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;

    .label {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.75rem;
        opacity: 0.7;
        line-height: 1em;
        display: block;
    }

    .options {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        li {
            padding: 0 0.75rem;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    a:hover {
        img {
            filter: grayscale(0);
        }
    }

    img {
        filter: grayscale(1);
        width: 23px;
        transition: all 0.3s ease-in-out;
    }
}

.domains .btn {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
}

.domains .btn-link {
    font-weight: 300;
}

.heading {
    margin: 0;
    text-transform: uppercase;
}

.output {
    flex: 1;
    background: rgba(255,255,255,0.1);
    position: relative;
    overflow: auto;
    padding: 0.325rem 0.325rem 0.325rem 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.25rem;
        height: 100%;
        background: linear-gradient(to right, fade-out(black, 0.7), transparent);
    }
}

.primary-nav {
    width: 6rem;
    text-align: center;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    position: relative;

    li {
        padding-top: 2rem;
        // opacity: 0.8;
    }

    li.active {
        // opacity: 1;
    }

    a {
        display: block;
    }

    a:hover {
        color: #60c3b0;
    }

    .fa {
        display: block;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .app-version {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.5;
        font-size: 0.8rem;
    }
}
