.errors {
    background: #8a0000;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    font-size: 0.88rem;
    line-height: 1em;
    position: relative;
    font-weight: 300;

    &:before {
        content: "\f06a";
        font-family: "FontAwesome";
        display: block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        color: fade-out(white, 0.1);
    }
}
