input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
    font-family: inherit;
    background: fade-out(white, 0.5);
    line-height: 1em;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    flex: 1;
    width: 100%;

    &.has-suffix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

textarea {
    height: 6rem;
    line-height: 1.5em;
}

label {
    display: block;
    font-family: inherit;
    line-height: 1em;
    padding: 0 0 0.4rem 0;
}

.form-group {
    margin-bottom: 1.25rem;

    .help {
        font-size: 0.8rem;
        margin: 0.125rem 0 0 0;
    }

    .suffix {
        font-family: inherit;
        background: fade-out(white, 0.7);
        line-height: 1em;
        font-size: 1rem;
        border: none;
        padding: 0.8rem 1.25rem;
        border-radius: 0 0.25rem 0.25rem 0;
    }

    .btn {
        border-radius: 0.25rem;
    }
}

.checkbox-group {
    .form-group {
        margin-bottom: 0.75rem;
    }
}

.form-flex {
    display: flex;
    align-items: stretch;

    .btn {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

input[type="checkbox"] {
    display: none;

    + label {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 0.25rem;
            background: fade-out(white, 0.5);
            display: block;
            margin-right: 0.5rem;
            text-align: center;
            line-height: 1.25rem;
            color: #2a3542;
        }
    }

    &:checked + label:before {
        font-family: "FontAwesome";
        content: "\f00c";
    }
}
