.toggle-bar {
    border-top: 1px solid fade-out(white, 0.6);
    border-bottom: 1px solid fade-out(white, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.open {
        background: fade-out(white, 0.8);
        border-color: transparent;
    }

    label {
        font-size: 1rem;
        padding: 0;
    }

    .fa {
        font-size: 1.25rem;
    }
}

.toggle-body {
    padding: 1.25rem 0;
}
