.console {
    height: 100%;
    position: relative;

    &:hover {
        .clear-console {
            opacity: 1;
        }
    }

    textarea {
        height: 100%;
        font-family: monospace;
        border-radius: 0;
        font-size: 0.9rem;
        background: #293441;
        color: white;
        resize: none;
        line-height: 1.3em;
    }

    .clear-console {
        position: absolute;
        bottom: 2.5rem;
        right: 3rem;
        color: fade-out(white, 0.1);
        padding: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.88rem;
        letter-spacing: 1px;
        opacity: 0;
        transition: all 0.1s ease-in-out;
        background: #60c3b0;

        .fa {
            color: fade-out(white, 0.4);
        }
    }
}
