.dashboard {
    .system-checks {
        .title-block {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .btn {
                margin-top: 0;
                padding-right: 0;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .icon {
                width: 1.4em;
                font-size: 1.5em;
            }

            .info {
                flex: 1;
            }

            .version {
                font-size: 0.9em;
            }

            .fa {
                line-height: 1em;
            }

            .fa-times-circle {
                color: #d80b0b;
            }

            .fa-check-circle {
                color: #73c360;
            }
        }

        li {
            padding: 1rem 1.25rem;
            font-size: 1.5rem;
            margin-top: 0.75rem;
            background: #2a3542;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s ease-in-out;

            &.collapse {
                font-size: 1rem;
            }
        }

        small {
            display: block;
            font-size: 0.9rem;
            line-height: 1.4em;
            margin-top: 0.5rem;
            font-weight: 300;
        }

        .btn {
            margin-top: 0.5rem;
        }
    }
}
