.highlighted-project {
    .summary {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 1.5rem;
    }

    .details {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            padding: 0 0.5rem;
        }
    }

    .domain-name {
        margin: 0;
        font-weight: 300;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}
