.import-project {
    .options {
        display: flex;
        justify-content: space-around;
        padding: 2.5rem 0;
        margin: 0 auto;
        max-width: 35rem;
    }

    .option {
        flex: 1;
        text-align: center;
        cursor: pointer;
    }

    .icon {
        box-shadow: 0 0 0.25rem 0 fade-out(black, 0.5);
        border-radius: 0.5rem;
        width: 9rem;
        height: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0.75rem auto;
        background: fade-out(white, 0.9);
        transition: all 0.3s ease-in-out;

        &:hover {
            background: fade-out(white, 0.7);
        }

        img {
            max-width: 6rem;
        }
    }

    .label {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 1px;
        opacity: 0.9;
    }
}
