.main-content {
    display: flex;
    justify-content: stretch;
    height: calc(100% - 3rem);
    padding-top: 1rem;

    .inner {
        background: rgba(255,255,255,0.1);
        border-radius: 2rem 0 0 0;
        flex: 1;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        display: flex;
        justify-content: stretch;
    }
}

.domains {
    width: 16rem;
    position: relative;

    .heading {
        text-align: right;
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
        letter-spacing: 1px;
        font-weight: 300;
        position: relative;
        z-index: 10;

        .sorting {
            opacity: 0.7;
            cursor: pointer;
        }

        .sorting-dropdown {
            position: absolute;
            top: 110%;
            right: 0.5rem;
            background: #666e77;
            padding: 0.75rem 1rem;
            border-radius: 0.325rem;
            text-align: left;
            display: none;
            box-shadow: 1px 1px 10px 2px fade-out(black, 0.7);

            &.open {
                display: block;
            }

            &:before {
                bottom: 100%;
                right: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: fade-out(white, 0.8);
                border-width: 6px;
            }

            .fa {
                margin-right: 0.325rem;
                color: fade-out(white, 0.6);
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li:not(:first-child) {
            margin-top: 0.325rem;
        }

        button {
            font-size: 0.75rem;
            letter-spacing: 1px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .active .fa {
            color: white;
        }
    }

    > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: auto;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: calc(100% - 126px);

        li {
            position: relative;
        }

        li a {
            padding: 0.75rem 1.25rem;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        li a:hover {
            background: rgba(255,255,255,0.1);
        }

        li:not(:first-child):before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid rgba(255,255,255,0.2);
        }
    }

    .major-actions {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .btn.import-project-btn {
        padding: 0.75rem 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.75rem;
        opacity: 0.7;
        line-height: 1em;
        display: block;

        &:hover {
            opacity: 1;
        }
    }

    .btn {
        width: 100%;
        padding: 1rem 0;
        border-radius: 0;
    }

    .btn-link {
        font-weight: 300;
    }
}

.heading {
    margin: 0;
    text-transform: uppercase;
}

.output {
    flex: 1;
    background: rgba(255,255,255,0.1);
    position: relative;
    overflow: auto;
    padding: 0.325rem 0.325rem 0.325rem 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.25rem;
        height: 100%;
        background: linear-gradient(to right, fade-out(black, 0.7), transparent);
        z-index: 50;
    }
}

.primary-nav {
    width: 6rem;
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1.5rem;
    position: relative;

    button {
        padding: 1rem 0;
        display: block;
        width: 100%;
    }

    button:hover {
        background: fade-out(black, 0.7);
    }

    .fa {
        display: block;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .app-status {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.8rem;

        .status-light {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
        }

        .label {
            margin-right: 0.325rem;
            opacity: 0.6;
        }
    }
}
