hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="search"],
*,
*:before,
*:after {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #2a3542;
    color: white;
    line-height: 1.4em;
}

a,
button {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: white;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    line-height: 1.2em;
}

p {
    margin: 1rem 0;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    // cursor: default;
}

input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

::-webkit-scrollbar-track {
    background-color: #2a3542;
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 0.325rem;
    background-color: #2a3542;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #60c3b0;
    border-radius: 1rem;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

.section {
    padding: 1.5rem 2rem;
}
